In [6]:
import pandas   as pd
import numpy    as np   
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv(r"C:\Users\SarahSamir\Desktop\data.csv") # i can add aditional parameters like sep, header, etc. or skiprows, etc.
df

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000000003,chrX,100627108,100639991,TSPAN6,498.249203,0.242392,0.060649,3.996653,0.000064,0.001029
1,ENSG00000000419,chr20,50934867,50959140,DPM1,1201.414760,-0.062627,0.061136,-1.024374,0.305659,0.470068
2,ENSG00000000457,chr1,169849631,169894267,SCYL3,220.023882,0.143119,0.071776,1.993952,0.046157,0.118980
3,ENSG00000000460,chr1,169662007,169854080,C1orf112,558.833139,-0.384702,0.131374,-2.928301,0.003408,0.017234
4,ENSG00000000971,chr1,196651754,196752476,CFH,1566.839660,1.839710,0.415190,4.431003,0.000009,0.000276
...,...,...,...,...,...,...,...,...,...,...,...
17908,ENSG00000273456,chr2,202374769,202376944,RP11-686O6.2,5.654401,0.367521,0.280097,1.312124,0.189478,0.335475
17909,ENSG00000273471,chr2,110386194,110434737,RP13-1039J1.4,1.848794,1.798187,0.756171,2.378017,0.017406,0.057732
17910,ENSG00000273472,chr4,140756147,140773771,RP11-102N12.3,2.054340,-0.246502,0.502323,-0.490724,0.623622,0.756207
17911,ENSG00000273483,chr1,112517799,112518441,RP4-671G15.2,2.061124,-0.532154,0.466167,-1.141553,0.253640,0.411610
17912,ENSG00000273485,chr10,103450196,103450852,RP11-225H22.7,7.303379,-0.171494,0.246677,-0.695216,0.486920,0.644804

In [8]:
df.info() # to get information about the data frame if it has null values, data types, etc. if the number of columns is not equal to the number of rows, 
#it will show the number of non-null values in each column.
df.describe() # to get the statistical summary of the data frame, it will show the count, mean, std, min, 25%, 50%, 75%, max of each column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17913 entries, 0 to 17912
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gene.ID          17913 non-null  object
 1   chromosome_name  17913 non-null  object
 2   start_position   17913 non-null  int64
 3   end_position     17913 non-null  int64
 4   symbol           17913 non-null  object
 5   baseMean         17913 non-null  float64
 6   log2FoldChange   17913 non-null  float64
 7   lfcSE            17913 non-null  float64
 8   stat             17913 non-null  float64
 9   pvalue           17913 non-null  float64
 10  padj             17913 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 1.5+ MB

,start_position,end_position,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
count,1.791300e+04,1.791300e+04,17913.000000,17913.000000,17913.000000,17913.000000,1.791300e+04,1.791300e+04
mean,7.387818e+07,7.394848e+07,1291.940788,0.128091,0.253652,0.159375,2.596665e-01,3.403120e-01
std,5.535505e+07,5.536276e+07,6834.687331,0.700986,0.252736,2.217914,3.022670e-01,3.283441e-01
min,3.307000e+03,4.262000e+03,0.831236,-4.887490,0.020169,-7.049083,1.961207e-19,3.698052e-15
25%,3.165242e+07,3.168584e+07,10.816566,-0.175468,0.073498,-1.436885,7.356162e-03,3.023469e-02
50%,5.933166e+07,5.946538e+07,236.054580,0.016212,0.145585,0.124981,1.123082e-01,2.292610e-01
75%,1.094665e+08,1.095029e+08,1079.327518,0.284097,0.369091,1.735797,4.668657e-01,6.274569e-01
max,2.489062e+08,2.489199e+08,565716.323224,6.505623,2.627135,9.015418,9.998342e-01,9.998342e-01

In [9]:
df = df.dropna(how = "any") #(how = "any" or "all") 
#or df.dropna(how = "any", inplace = True) # to drop the rows with any null values, inplace = True will modify the original data frame

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17913 entries, 0 to 17912
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gene.ID          17913 non-null  object
 1   chromosome_name  17913 non-null  object
 2   start_position   17913 non-null  int64
 3   end_position     17913 non-null  int64
 4   symbol           17913 non-null  object
 5   baseMean         17913 non-null  float64
 6   log2FoldChange   17913 non-null  float64
 7   lfcSE            17913 non-null  float64
 8   stat             17913 non-null  float64
 9   pvalue           17913 non-null  float64
 10  padj             17913 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 1.5+ MB

In [11]:
df[df["chromosome_name"] == "chrX"]

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000000003,chrX,100627108,100639991,TSPAN6,498.249203,0.242392,0.060649,3.996653,0.000064,0.001029
10,ENSG00000001497,chrX,65438549,65534810,LAS1L,1277.505374,-0.226707,0.067906,-3.338552,0.000842,0.006287
27,ENSG00000003096,chrX,117897813,118117340,KLHL13,184.735701,-0.096927,0.236409,-0.409998,0.681807,0.800333
59,ENSG00000004961,chrX,11111301,11123086,HCCS,833.387415,-0.042872,0.064859,-0.661007,0.508608,0.663460
63,ENSG00000005022,chrX,119468422,119471396,SLC25A5,5995.781380,-0.294342,0.089280,-3.296835,0.000978,0.007016
...,...,...,...,...,...,...,...,...,...,...,...
17395,ENSG00000270069,chrX,45745210,45851873,MIR222HG,704.677823,-0.169922,0.113110,-1.502274,0.133026,0.259797
17439,ENSG00000270641,chrX,73792205,73829231,TSIX,10.428930,0.208152,0.196730,1.058058,0.290029,0.452976
17460,ENSG00000271147,chrX,102599512,102714671,ARMCX5-GPRASP2,69.095730,0.094963,0.089411,1.062089,0.288195,0.450923
17481,ENSG00000271533,chrX,74209976,74213660,RP3-368A4.6,85.696819,0.515951,0.140059,3.683812,0.000230,0.002513
17510,ENSG00000271826,chrX,115518182,115562731,PLS3-AS1,3.301081,0.310440,0.481440,0.644816,0.519047,0.672376

In [12]:
df.query("chromosome_name == 'chr3'") # to filter the data frame by a specific condition, it will return a new data frame with the filtered rows

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
12,ENSG00000001617,chr3,50155045,50189075,SEMA3F,356.167966,-0.716689,0.312936,-2.290210,0.022009,0.068528
36,ENSG00000003756,chr3,50088919,50119021,RBM5,2017.879715,0.076463,0.054714,1.397488,0.162267,0.299384
42,ENSG00000004399,chr3,129555214,129606676,PLXND1,1667.469102,1.418069,0.339980,4.171040,0.000030,0.000617
47,ENSG00000004534,chr3,49940007,50100045,RBM6,2211.429149,0.015257,0.050018,0.305022,0.760350,0.855337
55,ENSG00000004838,chr3,50341110,50345732,ZMYND10,4.814796,-0.231103,0.332648,-0.694738,0.487220,0.645027
...,...,...,...,...,...,...,...,...,...,...,...
17883,ENSG00000273356,chr3,50669989,50672048,RP11-804H8.6,7.883886,-0.005659,0.342879,-0.016503,0.986833,0.992585
17887,ENSG00000273375,chr3,197789700,197790369,RP11-803P9.1,0.941911,0.303345,0.708733,0.428011,0.668643,0.791260
17900,ENSG00000273437,chr3,129163606,129163940,RP11-434H6.7,2.704801,-0.417386,0.433430,-0.962985,0.335555,0.502939
17906,ENSG00000273454,chr3,123277353,123277904,RP11-797D24.3,1.227054,0.192335,0.841781,0.228486,0.819269,0.894800
17907,ENSG00000273455,chr3,136087475,136087913,RP11-305O4.3,1.061859,-0.005346,0.676800,-0.007899,0.993698,0.996393

In [18]:
df.query?

Signature: df.query(expr: 'str', *, inplace: 'bool' = False, **kwargs) -> 'DataFrame | None'
Docstring:
Query the columns of a DataFrame with a boolean expression.

Parameters
----------
expr : str
    The query string to evaluate.

    You can refer to variables
    in the environment by prefixing them with an '@' character like
    ``@a + b``.

    You can refer to column names that are not valid Python variable names
    by surrounding them in backticks. Thus, column names containing spaces
    or punctuations (besides underscores) or starting with digits must be
    surrounded by backticks. (For example, a column named "Area (cm^2)" would
    be referenced as ```Area (cm^2)```). Column names which are Python keywords
    (like "list", "for", "import", etc) cannot be used.

    For example, if one of your columns is called ``a a`` and you want
    to sum it with ``b``, your query should be ```a a` + b``.

inplace : bool
    Whether to modify the DataFrame rather than creating a new one.
**kwargs
    See the documentation for :func:`eval` for complete details
    on the keyword arguments accepted by :meth:`DataFrame.query`.

Returns
-------
DataFrame or None
    DataFrame resulting from the provided query expression or
    None if ``inplace=True``.

See Also
--------
eval : Evaluate a string describing operations on
    DataFrame columns.
DataFrame.eval : Evaluate a string describing operations on
    DataFrame columns.

Notes
-----
The result of the evaluation of this expression is first passed to
:attr:`DataFrame.loc` and if that fails because of a
multidimensional key (e.g., a DataFrame) then the result will be passed
to :meth:`DataFrame.__getitem__`.

This method uses the top-level :func:`eval` function to
evaluate the passed query.

The :meth:`~pandas.DataFrame.query` method uses a slightly
modified Python syntax by default. For example, the ``&`` and ``|``
(bitwise) operators have the precedence of their boolean cousins,
:keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
however the semantics are different.

You can change the semantics of the expression by passing the keyword
argument ``parser='python'``. This enforces the same semantics as
evaluation in Python space. Likewise, you can pass ``engine='python'``
to evaluate an expression using Python itself as a backend. This is not
recommended as it is inefficient compared to using ``numexpr`` as the
engine.

The :attr:`DataFrame.index` and
:attr:`DataFrame.columns` attributes of the
:class:`~pandas.DataFrame` instance are placed in the query namespace
by default, which allows you to treat both the index and columns of the
frame as a column in the frame.
The identifier ``index`` is used for the frame index; you can also
use the name of the index to identify it in a query. Please note that
Python keywords may not be used as identifiers.

For further details and examples see the ``query`` documentation in
:ref:`indexing <indexing.query>`.

*Backtick quoted variables*

Backtick quoted variables are parsed as literal Python code and
are converted internally to a Python valid identifier.
This can lead to the following problems.

During parsing a number of disallowed characters inside the backtick
quoted string are replaced by strings that are allowed as a Python identifier.
These characters include all operators in Python, the space character, the
question mark, the exclamation mark, the dollar sign, and the euro sign.
For other characters that fall outside the ASCII range (U+0001..U+007F)
and those that are not further specified in PEP 3131,
the query parser will raise an error.
This excludes whitespace different than the space character,
but also the hashtag (as it is used for comments) and the backtick
itself (backtick can also not be escaped).

In a special case, quotes that make a pair around a backtick can
confuse the parser.
For example, ```it's` > `that's``` will raise an error,
as it forms a quoted string (``'s > `that'``) with a backtick inside.

See also the Python documentation about lexical analysis
(https://docs.python.org/3/reference/lexical_analysis.html)
in combination with the source code in :mod:`pandas.core.computation.parsing`.

Examples
--------
>>> df = pd.DataFrame({'A': range(1, 6),
...                    'B': range(10, 0, -2),
...                    'C C': range(10, 5, -1)})
>>> df
   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6
>>> df.query('A > B')
   A  B  C C
4  5  2    6

The previous expression is equivalent to

>>> df[df.A > df.B]
   A  B  C C
4  5  2    6

For columns with spaces in their name, you can use backtick quoting.

>>> df.query('B == `C C`')
   A   B  C C
0  1  10   10

The previous expression is equivalent to

>>> df[df.B == df['C C']]
   A   B  C C
0  1  10   10
File:      c:\users\sarahsamir\appdata\local\programs\python\python312\lib\site-packages\pandas\core\frame.py
Type:      method

In [13]:
df[(df["pvalue"] < 0.05) & (df["chromosome_name"] == "chr9")]

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
75,ENSG00000005238,chr9,35104112,35116341,FAM214B,536.266484,0.731957,0.167314,4.374759,0.000012,0.000330
356,ENSG00000023318,chr9,99979185,100099052,ERP44,1957.828147,0.331158,0.070628,4.688743,0.000003,0.000115
558,ENSG00000048828,chr9,93451685,93566112,FAM120A,9282.955920,0.050116,0.024247,2.066939,0.038740,0.104552
588,ENSG00000050555,chr9,131009174,131094473,LAMC3,2.153975,1.664687,0.608444,2.735974,0.006220,0.026666
621,ENSG00000054148,chr9,136848724,136851027,PHPT1,458.411083,0.127580,0.059682,2.137656,0.032545,0.091976
...,...,...,...,...,...,...,...,...,...,...,...
16612,ENSG00000260454,chr9,90996906,91001901,RP11-367F23.2,1.745253,3.342526,1.124450,2.972586,0.002953,0.015491
16687,ENSG00000260912,chr9,19453209,19455173,RP11-363E7.4,23.779219,0.383351,0.181578,2.111216,0.034754,0.096498
16719,ENSG00000261094,chr9,122931613,122940333,RP11-355O1.11,48.513905,-0.365332,0.122096,-2.992166,0.002770,0.014800
17803,ENSG00000273066,chr9,136799223,136810042,RP11-216L13.19,32.407937,-0.425361,0.133914,-3.176387,0.001491,0.009420
17835,ENSG00000273186,chr9,128431598,128432006,RP11-339B21.10,25.150199,0.420377,0.157342,2.671738,0.007546,0.030805

In [22]:
df[df["Gene.ID"].str.startswith("ENSG")] 

# to filter the data frame by a specific condition, it will return a new data frame with the filtered rows

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000000003,chrX,100627108,100639991,TSPAN6,498.249203,0.242392,0.060649,3.996653,0.000064,0.001029
1,ENSG00000000419,chr20,50934867,50959140,DPM1,1201.414760,-0.062627,0.061136,-1.024374,0.305659,0.470068
2,ENSG00000000457,chr1,169849631,169894267,SCYL3,220.023882,0.143119,0.071776,1.993952,0.046157,0.118980
3,ENSG00000000460,chr1,169662007,169854080,C1orf112,558.833139,-0.384702,0.131374,-2.928301,0.003408,0.017234
4,ENSG00000000971,chr1,196651754,196752476,CFH,1566.839660,1.839710,0.415190,4.431003,0.000009,0.000276
...,...,...,...,...,...,...,...,...,...,...,...
17908,ENSG00000273456,chr2,202374769,202376944,RP11-686O6.2,5.654401,0.367521,0.280097,1.312124,0.189478,0.335475
17909,ENSG00000273471,chr2,110386194,110434737,RP13-1039J1.4,1.848794,1.798187,0.756171,2.378017,0.017406,0.057732
17910,ENSG00000273472,chr4,140756147,140773771,RP11-102N12.3,2.054340,-0.246502,0.502323,-0.490724,0.623622,0.756207
17911,ENSG00000273483,chr1,112517799,112518441,RP4-671G15.2,2.061124,-0.532154,0.466167,-1.141553,0.253640,0.411610
17912,ENSG00000273485,chr10,103450196,103450852,RP11-225H22.7,7.303379,-0.171494,0.246677,-0.695216,0.486920,0.644804

In [27]:
df[df["Gene.ID"].str.endswith("3")]

,Gene.ID,chromosome_name,start_position,end_position,symbol,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000000003,chrX,100627108,100639991,TSPAN6,498.249203,0.242392,0.060649,3.996653,6.424431e-05,0.001029
25,ENSG00000002933,chr7,150800403,150805118,TMEM176A,5.679131,4.970037,0.953427,5.212814,1.859978e-07,0.000019
31,ENSG00000003393,chr2,201700267,201782112,ALS2,1394.773236,-0.025660,0.038616,-0.664485,5.063803e-01,0.661713
65,ENSG00000005073,chr7,27181157,27185232,HOXA11,97.325460,0.927874,0.281894,3.291575,9.962822e-04,0.007113
76,ENSG00000005243,chr17,48026167,48038030,COPZ2,469.759612,0.642464,0.181453,3.540666,3.991182e-04,0.003720
...,...,...,...,...,...,...,...,...,...,...,...
17851,ENSG00000273243,chr22,45155539,45156011,CTA-217C2.2,10.483107,-0.273476,0.234831,-1.164565,2.441953e-01,0.401128
17855,ENSG00000273253,chr22,50199049,50201596,RP3-402G11.26,4.681560,-0.140262,0.390555,-0.359133,7.194952e-01,0.827162
17878,ENSG00000273343,chr22,20318119,20318749,XXbac-B444P24.13,12.903368,-0.320608,0.208601,-1.536944,1.243071e-01,0.246834
17881,ENSG00000273353,chr22,45178990,45179310,CTA-268H5.12,2.268194,-0.202082,0.439604,-0.459691,6.457377e-01,0.773572
17911,ENSG00000273483,chr1,112517799,112518441,RP4-671G15.2,2.061124,-0.532154,0.466167,-1.141553,2.536401e-01,0.411610