In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\SarahSamir\Desktop\res.csv")
df

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000004799,228.038193,-1.254105,0.181620,-6.905106,5.016597e-12,8.310830e-10
1,ENSG00000007314,25.550582,-1.851910,0.582447,-3.179534,1.475122e-03,4.276624e-02
2,ENSG00000011422,393.890510,1.074814,0.151004,7.117786,1.096745e-12,1.870380e-10
3,ENSG00000019186,370.928737,2.166118,0.230215,9.409103,5.003893e-21,1.934283e-18
4,ENSG00000019549,638.411272,4.310233,0.197514,21.822408,1.421731e-105,4.946204e-102
...,...,...,...,...,...,...,...
233,ENSG00000288877,44.476554,1.523345,0.455951,3.341028,8.346888e-04,2.703801e-02
234,ENSG00000289069,495.321675,1.130974,0.170085,6.649444,2.942019e-11,4.336985e-09
235,ENSG00000289634,11.567314,-4.031692,1.000529,-4.029559,5.588168e-05,2.627194e-03
236,ENSG00000289875,101.032622,3.717075,0.350612,10.601670,2.927075e-26,1.542923e-23
237,ENSG00000289913,14.136202,-2.400789,0.678069,-3.540626,3.991783e-04,1.446606e-02

In [4]:
df.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,ENSG00000004799,228.038193,-1.254105,0.181620,-6.905106,5.016597e-12,8.310830e-10
1,ENSG00000007314,25.550582,-1.851910,0.582447,-3.179534,1.475122e-03,4.276624e-02
2,ENSG00000011422,393.890510,1.074814,0.151004,7.117786,1.096745e-12,1.870380e-10
3,ENSG00000019186,370.928737,2.166118,0.230215,9.409103,5.003893e-21,1.934283e-18
4,ENSG00000019549,638.411272,4.310233,0.197514,21.822408,1.421731e-105,4.946204e-102

In [5]:
df.tail(8)

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
230,ENSG00000287287,41.059593,2.807756,0.448277,6.263439,3.765775e-10,4.816593e-08
231,ENSG00000287538,12.839534,-2.139786,0.671887,-3.184740,1.448843e-03,4.221545e-02
232,ENSG00000288842,16.019779,5.996284,1.133835,5.288499,1.233241e-07,1.031357e-05
233,ENSG00000288877,44.476554,1.523345,0.455951,3.341028,8.346888e-04,2.703801e-02
234,ENSG00000289069,495.321675,1.130974,0.170085,6.649444,2.942019e-11,4.336985e-09
235,ENSG00000289634,11.567314,-4.031692,1.000529,-4.029559,5.588168e-05,2.627194e-03
236,ENSG00000289875,101.032622,3.717075,0.350612,10.601670,2.927075e-26,1.542923e-23
237,ENSG00000289913,14.136202,-2.400789,0.678069,-3.540626,3.991783e-04,1.446606e-02

In [6]:
df[["log2FoldChange","pvalue","padj"]]

     log2FoldChange         pvalue           padj
0         -1.254105   5.016597e-12   8.310830e-10
1         -1.851910   1.475122e-03   4.276624e-02
2          1.074814   1.096745e-12   1.870380e-10
3          2.166118   5.003893e-21   1.934283e-18
4          4.310233  1.421731e-105  4.946204e-102
..              ...            ...            ...
233        1.523345   8.346888e-04   2.703801e-02
234        1.130974   2.942019e-11   4.336985e-09
235       -4.031692   5.588168e-05   2.627194e-03
236        3.717075   2.927075e-26   1.542923e-23
237       -2.400789   3.991783e-04   1.446606e-02

[238 rows x 3 columns]

In [7]:
type(df[["log2FoldChange","pvalue"]])

pandas.core.frame.DataFrame

In [8]:
df
df.describe()

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
count,238.000000,238.000000,238.000000,238.000000,2.380000e+02,2.380000e+02
mean,1155.084284,1.187184,0.306875,5.341287,1.314087e-04,4.191751e-03
std,2448.826744,1.709832,0.212836,6.737836,3.520777e-04,1.051258e-02
min,7.218641,-4.031692,0.112530,-10.630950,6.077991e-308,1.057266e-303
25%,64.862216,1.039938,0.174442,3.435073,2.486337e-17,7.161165e-15
50%,214.346228,1.318666,0.237517,5.795015,3.163292e-10,4.121481e-08
75%,1114.210101,1.997353,0.352032,8.377684,5.773435e-06,3.418824e-04
max,19241.053567,7.284128,1.292514,37.511076,1.803905e-03,4.996644e-02

In [9]:
df["log2FoldChange"].describe()

count    238.000000
mean       1.187184
std        1.709832
min       -4.031692
25%        1.039938
50%        1.318666
75%        1.997353
max        7.284128
Name: log2FoldChange, dtype: float64

In [10]:
df[["log2FoldChange","pvalue"]].describe()

       log2FoldChange         pvalue
count      238.000000   2.380000e+02
mean         1.187184   1.314087e-04
std          1.709832   3.520777e-04
min         -4.031692  6.077991e-308
25%          1.039938   2.486337e-17
50%          1.318666   3.163292e-10
75%          1.997353   5.773435e-06
max          7.284128   1.803905e-03

In [11]:
df.info()
#object means str

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    object
 1   baseMean        238 non-null    float64
 2   log2FoldChange  238 non-null    float64
 3   lfcSE           238 non-null    float64
 4   stat            238 non-null    float64
 5   pvalue          238 non-null    float64
 6   padj            238 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.1+ KB

In [12]:
df.sum() #sum of all columns

Unnamed: 0        ENSG00000004799ENSG00000007314ENSG00000011422E...
baseMean                                               274910.05965
log2FoldChange                                            282.54986
lfcSE                                                     73.036241
stat                                                    1271.226345
pvalue                                                     0.031275
padj                                                       0.997637
dtype: object

In [13]:
df.mean(numeric_only= True) #mean of all columns
#because we have some string columns, we need to specify numeric_only=True

baseMean          1155.084284
log2FoldChange       1.187184
lfcSE                0.306875
stat                 5.341287
pvalue               0.000131
padj                 0.004192
dtype: float64

In [14]:
df.max(numeric_only= True) #max of all columns

baseMean          19241.053567
log2FoldChange        7.284128
lfcSE                 1.292514
stat                 37.511076
pvalue                0.001804
padj                  0.049966
dtype: float64

In [ ]:
df.agg(["sum","mean","max"]) #aggregate function for numeric data

TypeError: Could not convert string 'ENSG00000004799ENSG00000007314ENSG00000011422ENSG00000019186ENSG00000019549ENSG00000020577ENSG00000047365ENSG00000049089ENSG00000061337ENSG00000064195ENSG00000068028ENSG00000069399ENSG00000070388ENSG00000070404ENSG00000075426ENSG00000078401ENSG00000087494ENSG00000095739ENSG00000095752ENSG00000095951ENSG00000099860ENSG00000100292ENSG00000101665ENSG00000102287ENSG00000103449ENSG00000104081ENSG00000104863ENSG00000105088ENSG00000105327ENSG00000105516ENSG00000105825ENSG00000106366ENSG00000106617ENSG00000107984ENSG00000108175ENSG00000108551ENSG00000109846ENSG00000111859ENSG00000113070ENSG00000113578ENSG00000113739ENSG00000114737ENSG00000115009ENSG00000115641ENSG00000115718ENSG00000115738ENSG00000115844ENSG00000116741ENSG00000117143ENSG00000117228ENSG00000117318ENSG00000117525ENSG00000118523ENSG00000118985ENSG00000119508ENSG00000120149ENSG00000120555ENSG00000120693ENSG00000121068ENSG00000122863ENSG00000123358ENSG00000123977ENSG00000124212ENSG00000124216ENSG00000124225ENSG00000125384ENSG00000125398ENSG00000125740ENSG00000125968ENSG00000126368ENSG00000127129ENSG00000128283ENSG00000128342ENSG00000128594ENSG00000130066ENSG00000131016ENSG00000133101ENSG00000133256ENSG00000134215ENSG00000134531ENSG00000135477ENSG00000135480ENSG00000136603ENSG00000137801ENSG00000137834ENSG00000138386ENSG00000138650ENSG00000138670ENSG00000139278ENSG00000139874ENSG00000142871ENSG00000143333ENSG00000143355ENSG00000143367ENSG00000144063ENSG00000144136ENSG00000144355ENSG00000144802ENSG00000147642ENSG00000148677ENSG00000148680ENSG00000149591ENSG00000152518ENSG00000153250ENSG00000155307ENSG00000156265ENSG00000156427ENSG00000156966ENSG00000157514ENSG00000158792ENSG00000159200ENSG00000159208ENSG00000160886ENSG00000161653ENSG00000162614ENSG00000163545ENSG00000164125ENSG00000164465ENSG00000164626ENSG00000164736ENSG00000164741ENSG00000164949ENSG00000166401ENSG00000166592ENSG00000166886ENSG00000167173ENSG00000167767ENSG00000168209ENSG00000168386ENSG00000168874ENSG00000169435ENSG00000169583ENSG00000170214ENSG00000170439ENSG00000171223ENSG00000171604ENSG00000171903ENSG00000172000ENSG00000172059ENSG00000172201ENSG00000172738ENSG00000173212ENSG00000173894ENSG00000175155ENSG00000175315ENSG00000175592ENSG00000175906ENSG00000175920ENSG00000176170ENSG00000176845ENSG00000176907ENSG00000177494ENSG00000177721ENSG00000178150ENSG00000178401ENSG00000178662ENSG00000179023ENSG00000179348ENSG00000179598ENSG00000179772ENSG00000179820ENSG00000180998ENSG00000181472ENSG00000181773ENSG00000182489ENSG00000182795ENSG00000183337ENSG00000183484ENSG00000184602ENSG00000185950ENSG00000186081ENSG00000186834ENSG00000186897ENSG00000187634ENSG00000187678ENSG00000188483ENSG00000188582ENSG00000189431ENSG00000196639ENSG00000197019ENSG00000198142ENSG00000198517ENSG00000198853ENSG00000198944ENSG00000204531ENSG00000204604ENSG00000204767ENSG00000205730ENSG00000206538ENSG00000212724ENSG00000214049ENSG00000215218ENSG00000221869ENSG00000223764ENSG00000228412ENSG00000230778ENSG00000233850ENSG00000236453ENSG00000236682ENSG00000240668ENSG00000242242ENSG00000244300ENSG00000246763ENSG00000253669ENSG00000254515ENSG00000255248ENSG00000255400ENSG00000256006ENSG00000256229ENSG00000257671ENSG00000258279ENSG00000258602ENSG00000264175ENSG00000264395ENSG00000265972ENSG00000267056ENSG00000267453ENSG00000267519ENSG00000268812ENSG00000272734ENSG00000273812ENSG00000274565ENSG00000276107ENSG00000277342ENSG00000277969ENSG00000279417ENSG00000284928ENSG00000285966ENSG00000285972ENSG00000287001ENSG00000287287ENSG00000287538ENSG00000288842ENSG00000288877ENSG00000289069ENSG00000289634ENSG00000289875ENSG00000289913' to numeric

In [19]:
df.select_dtypes(include="number").agg(["sum", "mean", "max"])

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
sum,274910.059650,282.549860,73.036241,1271.226345,0.031275,0.997637
mean,1155.084284,1.187184,0.306875,5.341287,0.000131,0.004192
max,19241.053567,7.284128,1.292514,37.511076,0.001804,0.049966