In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\SarahSamir\Desktop\python\ranges_cleaned.csv")
df

,Unnamed: 0,Gene.ID,symbol,chromosome_name,chr_num,start_position,end_position,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,significant,gene_lengh
0,1,ENSG00000000003,tspan6,chrx,x,100627108,100639991,498.0,0.242392,0.060649,3.996653,0.000064,0.001029,True,12883
1,2,ENSG00000000419,dpm1,chr20,20,50934867,50959140,1201.0,-0.062627,0.061136,-1.024374,0.305659,0.470068,False,24273
2,3,ENSG00000000457,scyl3,chr1,1,169849631,169894267,220.0,0.143119,0.071776,1.993952,0.046157,0.118980,False,44636
3,4,ENSG00000000460,c1orf112,chr1,1,169662007,169854080,559.0,-0.384702,0.131374,-2.928301,0.003408,0.017234,True,192073
4,5,ENSG00000000971,cfh,chr1,1,196651754,196752476,1567.0,1.839710,0.415190,4.431003,0.000009,0.000276,True,100722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17908,17909,ENSG00000273456,rp11-686o6.2,chr2,2,202374769,202376944,6.0,0.367521,0.280097,1.312124,0.189478,0.335475,False,2175
17909,17910,ENSG00000273471,rp13-1039j1.4,chr2,2,110386194,110434737,2.0,1.798187,0.756171,2.378017,0.017406,0.057732,False,48543
17910,17911,ENSG00000273472,rp11-102n12.3,chr4,4,140756147,140773771,2.0,-0.246502,0.502323,-0.490724,0.623622,0.756207,False,17624
17911,17912,ENSG00000273483,rp4-671g15.2,chr1,1,112517799,112518441,2.0,-0.532154,0.466167,-1.141553,0.253640,0.411610,False,642
17912,17913,ENSG00000273485,rp11-225h22.7,chr10,10,103450196,103450852,7.0,-0.171494,0.246677,-0.695216,0.486920,0.644804,False,656

In [10]:
df["baseMean"].unique() #unique is used to get unique values in a column

array([ 498., 1201.,  220., ..., 2811., 2543., 4063.], shape=(3928,))

In [17]:
df[['chromosome_name', 'significant']].drop_duplicates()

      chromosome_name  significant
0                chrx         True
1               chr20        False
2                chr1        False
3                chr1         True
5                chr6         True
6                chr6        False
12               chr3        False
13               chr7        False
16              chr12        False
17              chr11        False
18               chr4        False
19               chr4         True
23              chr17        False
25               chr7         True
27               chrx        False
28               chr2         True
30              chr16        False
31               chr2        False
37               chr8        False
42               chr3         True
45              chr12         True
51              chr19        False
53              chr16         True
60              chr17         True
61              chr19         True
75               chr9         True
90              chr13        False
113             chr14        False
119             chr11         True
137              chr5        False
183              chr8         True
187             chr22        False
221              chr9        False
268             chr14         True
298             chr10        False
301             chr10         True
303             chr22         True
304              chr5         True
315             chr18        False
343             chr15         True
379             chr20         True
390             chr13         True
400             chr15        False
493             chr18         True
6870            chr21        False
6884            chr21         True
13444           chrmt        False
13454           chrmt         True

In [19]:
df["chromosome_name"].value_counts()

chromosome_name
chr1     1792
chr19    1281
chr2     1261
chr17    1057
chr3     1021
chr11    1011
chr12     957
chr6      909
chr5      839
chr7      826
chr16     812
chr4      692
chr10     691
chr9      687
chr8      679
chr15     590
chr14     583
chrx      559
chr20     437
chr22     426
chr13     309
chr18     292
chr21     189
chrmt      13
Name: count, dtype: int64

In [20]:
df.groupby("chromosome_name")["significant"].value_counts()

chromosome_name  significant
chr1             False          1255
                 True            537
chr10            False           490
                 True            201
chr11            False           702
                 True            309
chr12            False           670
                 True            287
chr13            False           211
                 True             98
chr14            False           405
                 True            178
chr15            False           439
                 True            151
chr16            False           585
                 True            227
chr17            False           745
                 True            312
chr18            False           215
                 True             77
chr19            False           931
                 True            350
chr2             False           878
                 True            383
chr20            False           291
                 True            146
chr21            False           132
                 True             57
chr22            False           306
                 True            120
chr3             False           730
                 True            291
chr4             False           489
                 True            203
chr5             False           584
                 True            255
chr6             False           646
                 True            263
chr7             False           593
                 True            233
chr8             False           499
                 True            180
chr9             False           471
                 True            216
chrmt            False            10
                 True              3
chrx             False           367
                 True            192
Name: count, dtype: int64

In [21]:
df.groupby("chromosome_name").size()

chromosome_name
chr1     1792
chr10     691
chr11    1011
chr12     957
chr13     309
chr14     583
chr15     590
chr16     812
chr17    1057
chr18     292
chr19    1281
chr2     1261
chr20     437
chr21     189
chr22     426
chr3     1021
chr4      692
chr5      839
chr6      909
chr7      826
chr8      679
chr9      687
chrmt      13
chrx      559
dtype: int64